body{
  background: #fadede;
}
.container{
  width: 800px;
  transform: translate(-50%, -50%);
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
}

h1{
  font-family: 'Sacramento', cursive;
  font-size: 20px;
  color: black;
}
.letter{
  width: 600px;
  height: 400px;
  display: inline-block;
}
.rose{
  width: 180px;
  height: 200px;
  position: absolute;
  right: 0;
  display: inline-block;
  animation: yidon 5s infinite;
  transform: translateY(40%);
}
.petal{
  width: 50px;
  height: 50px;
  position: absolute;
  background: yellow ;
  border-radius: 0px 50%;
  box-shadow: 0 0 10px #d1123f;
  z-index: 2;
  transform-origin: bottom right;
  animation: zhankai2 10s infinite;
}
.petal:nth-child(2){
  transform-origin: right bottom;
  transform: rotate(90deg);
  background: yellow;
  left: -10px;
  animation: zhankai1 10s infinite;
}
.petal:nth-child(3){
  width: 40px;
  height: 40px;
  left: 10px;
  top: -20px;
  z-index: 1;
  transform-origin: bottom right;
  background: yellow;
  animation: zhankai2 10s infinite;
}
.petal:nth-child(4){
  transform: rotate(90deg);
  width: 40px;
  height: 40px;
  left: 0px;
  top: -20px;
  z-index: 1;
  transform-origin: bottom right;
  background: yellow;
  animation: zhankai1 10s infinite;
}
.petal:nth-child(5){
  width: 50px;
  height: 50px;
  left: 20px;
  top: -30px;
  border-radius: 20px;
  z-index: 0;
  background: yellow;
}
leaf{
  position: absolute;
  top: 120px;
  left: -115px;
}
.stem{
  width: 240px;
  height: 40px;
  background: transparent;
  border-radius: 50% 50%;
  border-color: #77a377 transparent transparent transparent;
  transform: rotate(100deg);
}
.leafs{
  width: 50px;
  height: 40px;
  position: absolute;
  background: #77a377;
  border-radius: 0% 50%;
  top: 0;
  left: 100px;
  z-index: 49;
}
.leafs:nth-child(2){
  transform: rotate(120deg);
  left: 140px;
  top: 40px;
  width: 40px;
  height: 20px;
}
@keyframes yidon{
  50%{
    transform: translateY(35%);
  }
  100%{
    transform: translateY(40%);
  }
}
@keyframes zhankai1{
  50%{
    transform: rotate(110deg);
  }
  100%{
    transform: rotate(90deg);
  }
}
@keyframes zhankai2{
  50%{
    transform: rotate(-20deg);
  }
  100%{
    transform: rotate(0deg);
  }
}